<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <style>
        img{
            width: 48px;
            height: 48px;
            border-radius: 24px;
            margin: 0 auto;
            display: block;
        }
        .shadow{
            position: fixed;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background:#000;
            opacity:.3;
            filter:alpha(opacity=30);
        }
        .mod_dialog{
            width:300px;
            height: 200px;
            border: 1px solid black;
            background-color: #fff;
            position: fixed;
            left: 50%;
            top:50%;
            margin-left: -150px;
            margin-top: -100px;
        }
    </style>
</head>
<body>
    <div class="page">
        <% include components/top.inc.ejs %>
        <div class="content-wrap">
            <div>
                <form action="?" method="post" enctype="multipart/form-data">
                    <label for="">标题</label>
                    <input type="text" name="title"> <br />
                    <label for="">描述</label>
                    <input type="textarea" name="description"> <br />
                    <label for="">头像</label>
                    <input type="file" name="f1"> <br />
                    <input type="submit" value="添加">
                </form>
            </div>
            <table border="1" width="100%" cellspacing="0" cellpadding="10">
                <thead bgcolor="#e3e3e3">
                    <tr>
                        <th width="6%">ID</th>
                        <th width="20%">标题</th>
                        <th width="40%">描述</th>
                        <th width="20%">头像</th>
                        <th width="14%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( var i = 0; i < evaluations.length; i++ ){ %>
                        <tr>
                            <td align="center"><%= evaluations[ i ].ID %></td>
                            <td><%= evaluations[ i ].title %></td>
                            <td><%= evaluations[ i ].description %></td>
                            <td><img src="/upload/<%= evaluations[ i ].src %>" alt=""></td>
                            <td align="center">
                                <a href="?act=mod&id=<%= evaluations[ i ].ID %>">修改</a>
                                <a href="?act=del&id=<%= evaluations[ i ].ID %>" onclick="return confirm('你确定要删除吗');">删除</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <% if( typeof mod_data !== 'undefined' ){ %>
            <div class="shadow">

            </div>
            <div class="mod_dialog">
                <form action="?" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="mod_id" value="<%= mod_data.ID %>" />
                    <label for="">标题</label>
                    <input type="text" name="title" value="<%= mod_data.title%>"> <br />
                    <label for="">描述</label>
                    <textarea name="description"><%= mod_data.description%></textarea><br />
                    <label for="">头像</label>
                    <input type="file" name="f1"> <br />
                    <input type="submit" value="修改">
                    <a href="/admin/custom">取消修改</a>
                </form>
            </div>
            <% } %>
        </div>
    </div>
</body>
</html>
